<h1 align="center">Public Works Department Repair System</h1>

 <h2 align="center"><%= link_to "pothole lists:", potholelists_path %></h2>
 <h2 align="center"><%= link_to "order lists:", workorders_path %></h2>
 <h2 align="center"><%= link_to "damage report:", damagereports_path %></h2>
